.loader {
  width: 12px;
  height: 12px;
  background: #007fff;
  border-radius: 50%;
  box-shadow: 20px 0 #e6f2ff, -20px 0 #007fff;
  animation: loader 1s infinite linear alternate;
}
@keyframes loader {
  0% {
    box-shadow: 20px 0 #007fff, -20px 0 #e6f2ff;
    background: #007fff;
  }
  33% {
    box-shadow: 20px 0 #007fff, -20px 0 #e6f2ff;
    background: #e6f2ff;
  }
  66% {
    box-shadow: 20px 0 #e6f2ff, -20px 0 #007fff;
    background: #e6f2ff;
  }
}
