.list {
  max-width: 900px;
  position: absolute;
  top: 50px;
  left: 10%;
  height: 500px;
  background-color: #989898;
  animation: fadeIn 0.3s;
  opacity: 1;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow: var(--shadow);
  z-index: 10000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.city {
  cursor: pointer;
  display: inline-block;
  margin: 0 20px 20px 0;
  border: 1px solid lightgrey;
  padding: 5px 15px;
  border-radius: 6px;
  transition: all 450ms;
  color: white;
}

.city:hover {
  transform: scale(1.08);
}

.list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #989898;
}

.list::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 20px;
}
