* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

:root {
  --shadow: 0 2px 4px rgb(0 0 0 / 6%), 0 4px 6px rgb(0 0 0 / 10%);
  --temp-font-size: 25px;
}

.cityName {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  animation: scale;
  position: relative;
}

.weatherLoader {
  position: absolute;
  right: 22%;
  top: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.btnLoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.localTimeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 28px;
}

.weatherDescr {
  text-transform: capitalize;
}

.forecastWrapper div p:first-child {
  margin-bottom: 10px;
}

.forecastWrapper div p:nth-child(2) {
  font-size: var(--temp-font-size);
}
